.account-card-header {
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
}

.account-page-header {
  font-weight: 480;
  font-size: 36px;
  line-height: 44px;
  font-family: $font-secondary;
}
