.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  text-transform: uppercase;
  background-color: $color-black;
  color: $color-white;
  font-weight: 460;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  gap: 7px;
  transition: $easeOut200;

  &--grey {
    background-color: $color-medium-grey;
    color: $color-dark-grey;
  }

  &--light {
    background-color: $color-pink-light;
    color: $color-pink;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &--disabled {
    background-color: $color-medium-grey;
    color: $color-dark-grey;
  }

  &:hover {
    box-shadow: 4px 4px 1px 0px $color-pink;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: $color-pink;
  text-decoration: underline;

  &--grey {
    color: $color-dark-grey;

    span {
      color: $color-dark-grey;
    }
  }

  span {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: $color-pink;
    text-decoration: underline;
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: $color-pink;
  }
}
